root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 140
tab_width = 4

[*.{kt,kts}]
# Use official Kotlin formatting defaults in IntelliJ:
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL

# Disable wildcard imports to match ktlint:
ij_kotlin_name_count_to_use_star_import = 2147483647
ij_kotlin_name_count_to_use_star_import_for_members = 2147483647
ij_kotlin_packages_to_use_import_on_demand = unset

ktlint_standard_filename = disabled
ktlint_standard_function-naming = disabled

